body{
    max-width: 70%;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 228, 196, 0.84);
}
     
     table, td, th{
                border: 1px solid black; border-collapse: collapse;
            }
    
    .text {color: red;
         opacity:0.6;    
    }
    .cyg  { font-size: larger;} */
    html {
        background-color: azure;
        background-position: center, center;
        background-repeat: no-repeat repeat;
        background-size: cover;
    }
    
ul {
        list-style-type: lower-roman;
        /* padding: 20px 30px; */
        color: #00f;
        text-align: center;
        list-style-position: inside;
}  
ol {
            list-style-type: lower-alpha;
            color: #00f;
            line-height: 1.6;
            /*list-style-image: url('./hhh/........'); */
}

ul li:nth-child(2) {
            color: red;
}

ul ::marker {
            content: "only $5>>>"; 
            font-family: monospace;
            font-size:xx-large;
}